.swiper-pagination-bullet{
    width: 1rem;
    height: 1rem;
    background-color: #1a4e63;
}
.swiper-pagination-bullet-active{
    background-image: linear-gradient(to right,#84cc16,#0ea5e9);
}
.swiper-slide-next{
    opacity: 100% !important;
    transition-duration: 1s;
}
.swiper-slide{
    opacity: 30%;
    transition-duration: 1s;
}
.swiper-slide:hover{
    opacity: 100%;
}